<body>
<h1> Ebbinhaus Helps You!</h1>
<%= link_to "Make Your New Word List!", new_word_path, class: "btn btn-lg btn-primary"%>
<%= link_to "View Your Words", words_path, class: "btn btn-lg btn-success"%>
</body>
