<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">   
 <title>Ebbinghaus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-  navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    </div>
    <a class="navbar-brand" href="https://www.linkedin.com/in/chuhan-jin-0827b1127/">Cjin</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
    <li class="active"><a href="http://localhost:3000">Home <span class="sr-only">(current)</span></a></li>
    <li><a href="http://localhost:3000/words">Words</a></li>
    </ul>
    </div>
    </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <nav class = "navbar navbar-default navbar-fixed-bottom">
        <div class= "container">
            <p class= "text-muted">Contact Info: 469-994-6777</p>
        </div>
    </nav>
  </body>
</html>
